<!DOCTYPE html>
<html>
<head>
  <title>Gmaps</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  
  <%= csrf_meta_tags %>
</head>
<body>






<%= yield %>
<%= yield :scripts %>
<script type="text/javascript" charset="utf-8">
    
    // var marker = null;
    $('#test').click(function(e){
    	alert(Gmaps.map.map.getZoom());
    });    
    
    // if (marker != null) { marker.setMap(null); }
    //     google.maps.event.addListener(Gmaps4Rails.map, 'click', 
    //         function(object){ marker = new google.maps.Marker(
    //             {position: object.latLng, map: Gmaps4Rails.map});});
    
</script>
</body>
</html>
